web/WEB-INF/wsdl/ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com/AccountManagementWS/AccountManagementWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://accountmanagementws.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://accountmanagementws.org/" name="AccountManagementWS">
<types>
<xsd:schema>
<xsd:import namespace="http://accountmanagementws.org/" schemaLocation="http://ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com:80/AccountManagementWS/AccountManagementWS?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieve_all_account">
<part name="parameters" element="tns:retrieve_all_account"/>
</message>
<message name="retrieve_all_accountResponse">
<part name="parameters" element="tns:retrieve_all_accountResponse"/>
</message>
<message name="account_activation">
<part name="parameters" element="tns:account_activation"/>
</message>
<message name="account_activationResponse">
<part name="parameters" element="tns:account_activationResponse"/>
</message>
<message name="deactivate_account">
<part name="parameters" element="tns:deactivate_account"/>
</message>
<message name="deactivate_accountResponse">
<part name="parameters" element="tns:deactivate_accountResponse"/>
</message>
<message name="retrieve_shipping">
<part name="parameters" element="tns:retrieve_shipping"/>
</message>
<message name="retrieve_shippingResponse">
<part name="parameters" element="tns:retrieve_shippingResponse"/>
</message>
<message name="update_credit_card">
<part name="parameters" element="tns:update_credit_card"/>
</message>
<message name="update_credit_cardResponse">
<part name="parameters" element="tns:update_credit_cardResponse"/>
</message>
<message name="social_login">
<part name="parameters" element="tns:social_login"/>
</message>
<message name="social_loginResponse">
<part name="parameters" element="tns:social_loginResponse"/>
</message>
<message name="create_account">
<part name="parameters" element="tns:create_account"/>
</message>
<message name="create_accountResponse">
<part name="parameters" element="tns:create_accountResponse"/>
</message>
<message name="retrieve_billing">
<part name="parameters" element="tns:retrieve_billing"/>
</message>
<message name="retrieve_billingResponse">
<part name="parameters" element="tns:retrieve_billingResponse"/>
</message>
<message name="update_password">
<part name="parameters" element="tns:update_password"/>
</message>
<message name="update_passwordResponse">
<part name="parameters" element="tns:update_passwordResponse"/>
</message>
<message name="update_status">
<part name="parameters" element="tns:update_status"/>
</message>
<message name="update_statusResponse">
<part name="parameters" element="tns:update_statusResponse"/>
</message>
<message name="verify_password">
<part name="parameters" element="tns:verify_password"/>
</message>
<message name="verify_passwordResponse">
<part name="parameters" element="tns:verify_passwordResponse"/>
</message>
<message name="update_account">
<part name="parameters" element="tns:update_account"/>
</message>
<message name="update_accountResponse">
<part name="parameters" element="tns:update_accountResponse"/>
</message>
<message name="retrieve_account">
<part name="parameters" element="tns:retrieve_account"/>
</message>
<message name="retrieve_accountResponse">
<part name="parameters" element="tns:retrieve_accountResponse"/>
</message>
<message name="update_shipping">
<part name="parameters" element="tns:update_shipping"/>
</message>
<message name="update_shippingResponse">
<part name="parameters" element="tns:update_shippingResponse"/>
</message>
<message name="retrieve_credit">
<part name="parameters" element="tns:retrieve_credit"/>
</message>
<message name="retrieve_creditResponse">
<part name="parameters" element="tns:retrieve_creditResponse"/>
</message>
<message name="update_billing">
<part name="parameters" element="tns:update_billing"/>
</message>
<message name="update_billingResponse">
<part name="parameters" element="tns:update_billingResponse"/>
</message>
<message name="updateMemberAddress">
<part name="parameters" element="tns:updateMemberAddress"/>
</message>
<message name="updateMemberAddressResponse">
<part name="parameters" element="tns:updateMemberAddressResponse"/>
</message>
<portType name="AccountManagementWS">
<operation name="retrieve_all_account">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/retrieve_all_accountRequest" message="tns:retrieve_all_account"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/retrieve_all_accountResponse" message="tns:retrieve_all_accountResponse"/>
</operation>
<operation name="account_activation">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/account_activationRequest" message="tns:account_activation"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/account_activationResponse" message="tns:account_activationResponse"/>
</operation>
<operation name="deactivate_account">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/deactivate_accountRequest" message="tns:deactivate_account"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/deactivate_accountResponse" message="tns:deactivate_accountResponse"/>
</operation>
<operation name="retrieve_shipping">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/retrieve_shippingRequest" message="tns:retrieve_shipping"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/retrieve_shippingResponse" message="tns:retrieve_shippingResponse"/>
</operation>
<operation name="update_credit_card">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_credit_cardRequest" message="tns:update_credit_card"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_credit_cardResponse" message="tns:update_credit_cardResponse"/>
</operation>
<operation name="social_login">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/social_loginRequest" message="tns:social_login"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/social_loginResponse" message="tns:social_loginResponse"/>
</operation>
<operation name="create_account">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/create_accountRequest" message="tns:create_account"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/create_accountResponse" message="tns:create_accountResponse"/>
</operation>
<operation name="retrieve_billing">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/retrieve_billingRequest" message="tns:retrieve_billing"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/retrieve_billingResponse" message="tns:retrieve_billingResponse"/>
</operation>
<operation name="update_password">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_passwordRequest" message="tns:update_password"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_passwordResponse" message="tns:update_passwordResponse"/>
</operation>
<operation name="update_status">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_statusRequest" message="tns:update_status"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_statusResponse" message="tns:update_statusResponse"/>
</operation>
<operation name="verify_password">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/verify_passwordRequest" message="tns:verify_password"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/verify_passwordResponse" message="tns:verify_passwordResponse"/>
</operation>
<operation name="update_account">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_accountRequest" message="tns:update_account"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_accountResponse" message="tns:update_accountResponse"/>
</operation>
<operation name="retrieve_account">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/retrieve_accountRequest" message="tns:retrieve_account"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/retrieve_accountResponse" message="tns:retrieve_accountResponse"/>
</operation>
<operation name="update_shipping">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_shippingRequest" message="tns:update_shipping"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_shippingResponse" message="tns:update_shippingResponse"/>
</operation>
<operation name="retrieve_credit">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/retrieve_creditRequest" message="tns:retrieve_credit"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/retrieve_creditResponse" message="tns:retrieve_creditResponse"/>
</operation>
<operation name="update_billing">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_billingRequest" message="tns:update_billing"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/update_billingResponse" message="tns:update_billingResponse"/>
</operation>
<operation name="updateMemberAddress">
<input wsam:Action="http://accountmanagementws.org/AccountManagementWS/updateMemberAddressRequest" message="tns:updateMemberAddress"/>
<output wsam:Action="http://accountmanagementws.org/AccountManagementWS/updateMemberAddressResponse" message="tns:updateMemberAddressResponse"/>
</operation>
</portType>
<binding name="AccountManagementWSPortBinding" type="tns:AccountManagementWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieve_all_account">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="account_activation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deactivate_account">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieve_shipping">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_credit_card">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="social_login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create_account">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieve_billing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_password">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_status">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verify_password">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_account">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieve_account">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_shipping">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieve_credit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_billing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMemberAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AccountManagementWS">
<port name="AccountManagementWSPort" binding="tns:AccountManagementWSPortBinding">
<soap:address location="http://ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com:80/AccountManagementWS/AccountManagementWS"/>
</port>
</service>
</definitions>