web/WEB-INF/wsdl/ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com/Geocode_WS/geocode.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://GeoCodeWS.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://GeoCodeWS.org/" name="geocode">
<types>
<xsd:schema>
<xsd:import namespace="http://GeoCodeWS.org/" schemaLocation="http://ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com:80/Geocode_WS/geocode?xsd=1"/>
</xsd:schema>
</types>
<message name="distance">
<part name="parameters" element="tns:distance"/>
</message>
<message name="distanceResponse">
<part name="parameters" element="tns:distanceResponse"/>
</message>
<message name="getCoordinate">
<part name="parameters" element="tns:getCoordinate"/>
</message>
<message name="getCoordinateResponse">
<part name="parameters" element="tns:getCoordinateResponse"/>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"/>
</message>
<message name="JSONException">
<part name="fault" element="tns:JSONException"/>
</message>
<portType name="geocode">
<operation name="distance">
<input wsam:Action="http://GeoCodeWS.org/geocode/distanceRequest" message="tns:distance"/>
<output wsam:Action="http://GeoCodeWS.org/geocode/distanceResponse" message="tns:distanceResponse"/>
</operation>
<operation name="getCoordinate">
<input wsam:Action="http://GeoCodeWS.org/geocode/getCoordinateRequest" message="tns:getCoordinate"/>
<output wsam:Action="http://GeoCodeWS.org/geocode/getCoordinateResponse" message="tns:getCoordinateResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://GeoCodeWS.org/geocode/getCoordinate/Fault/MalformedURLException"/>
<fault message="tns:JSONException" name="JSONException" wsam:Action="http://GeoCodeWS.org/geocode/getCoordinate/Fault/JSONException"/>
</operation>
</portType>
<binding name="geocodePortBinding" type="tns:geocode">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="distance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCoordinate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="JSONException">
<soap:fault name="JSONException" use="literal"/>
</fault>
</operation>
</binding>
<service name="geocode">
<port name="geocodePort" binding="tns:geocodePortBinding">
<soap:address location="http://ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com:80/Geocode_WS/geocode"/>
</port>
</service>
</definitions>