web/WEB-INF/wsdl/ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com/PurchaseManagementWS/PurchaseManagementWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://purchasemanagement.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://purchasemanagement.org/" name="PurchaseManagementWS">
<types>
<xsd:schema>
<xsd:import namespace="http://purchasemanagement.org/" schemaLocation="http://ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com:80/PurchaseManagementWS/PurchaseManagementWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com:80/PurchaseManagementWS/PurchaseManagementWS?xsd=2"/>
</xsd:schema>
</types>
<message name="retrieve_all_orders">
<part name="parameters" element="tns:retrieve_all_orders"/>
</message>
<message name="retrieve_all_ordersResponse">
<part name="parameters" element="tns:retrieve_all_ordersResponse"/>
</message>
<message name="update_order_line_item">
<part name="parameters" element="tns:update_order_line_item"/>
</message>
<message name="update_order_line_itemResponse">
<part name="parameters" element="tns:update_order_line_itemResponse"/>
</message>
<message name="check_product_quantity">
<part name="parameters" element="tns:check_product_quantity"/>
</message>
<message name="check_product_quantityResponse">
<part name="parameters" element="tns:check_product_quantityResponse"/>
</message>
<message name="update_cart">
<part name="parameters" element="tns:update_cart"/>
</message>
<message name="update_cartResponse">
<part name="parameters" element="tns:update_cartResponse"/>
</message>
<message name="remove_item">
<part name="parameters" element="tns:remove_item"/>
</message>
<message name="remove_itemResponse">
<part name="parameters" element="tns:remove_itemResponse"/>
</message>
<message name="create_order">
<part name="parameters" element="tns:create_order"/>
</message>
<message name="create_orderResponse">
<part name="parameters" element="tns:create_orderResponse"/>
</message>
<message name="add_item">
<part name="parameters" element="tns:add_item"/>
</message>
<message name="add_itemResponse">
<part name="parameters" element="tns:add_itemResponse"/>
</message>
<message name="update_stock">
<part name="parameters" element="tns:update_stock"/>
</message>
<message name="update_stockResponse">
<part name="parameters" element="tns:update_stockResponse"/>
</message>
<message name="retrieve_order">
<part name="parameters" element="tns:retrieve_order"/>
</message>
<message name="retrieve_orderResponse">
<part name="parameters" element="tns:retrieve_orderResponse"/>
</message>
<message name="retrieve_cart">
<part name="parameters" element="tns:retrieve_cart"/>
</message>
<message name="retrieve_cartResponse">
<part name="parameters" element="tns:retrieve_cartResponse"/>
</message>
<message name="clear_cart">
<part name="parameters" element="tns:clear_cart"/>
</message>
<message name="clear_cartResponse">
<part name="parameters" element="tns:clear_cartResponse"/>
</message>
<portType name="PurchaseManagementWS">
<operation name="retrieve_all_orders">
<input wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/retrieve_all_ordersRequest" message="tns:retrieve_all_orders"/>
<output wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/retrieve_all_ordersResponse" message="tns:retrieve_all_ordersResponse"/>
</operation>
<operation name="update_order_line_item">
<input wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/update_order_line_itemRequest" message="tns:update_order_line_item"/>
<output wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/update_order_line_itemResponse" message="tns:update_order_line_itemResponse"/>
</operation>
<operation name="check_product_quantity">
<input wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/check_product_quantityRequest" message="tns:check_product_quantity"/>
<output wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/check_product_quantityResponse" message="tns:check_product_quantityResponse"/>
</operation>
<operation name="update_cart">
<input wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/update_cartRequest" message="tns:update_cart"/>
<output wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/update_cartResponse" message="tns:update_cartResponse"/>
</operation>
<operation name="remove_item">
<input wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/remove_itemRequest" message="tns:remove_item"/>
<output wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/remove_itemResponse" message="tns:remove_itemResponse"/>
</operation>
<operation name="create_order">
<input wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/create_orderRequest" message="tns:create_order"/>
<output wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/create_orderResponse" message="tns:create_orderResponse"/>
</operation>
<operation name="add_item">
<input wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/add_itemRequest" message="tns:add_item"/>
<output wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/add_itemResponse" message="tns:add_itemResponse"/>
</operation>
<operation name="update_stock">
<input wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/update_stockRequest" message="tns:update_stock"/>
<output wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/update_stockResponse" message="tns:update_stockResponse"/>
</operation>
<operation name="retrieve_order">
<input wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/retrieve_orderRequest" message="tns:retrieve_order"/>
<output wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/retrieve_orderResponse" message="tns:retrieve_orderResponse"/>
</operation>
<operation name="retrieve_cart">
<input wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/retrieve_cartRequest" message="tns:retrieve_cart"/>
<output wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/retrieve_cartResponse" message="tns:retrieve_cartResponse"/>
</operation>
<operation name="clear_cart">
<input wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/clear_cartRequest" message="tns:clear_cart"/>
<output wsam:Action="http://purchasemanagement.org/PurchaseManagementWS/clear_cartResponse" message="tns:clear_cartResponse"/>
</operation>
</portType>
<binding name="PurchaseManagementWSPortBinding" type="tns:PurchaseManagementWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieve_all_orders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_order_line_item">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="check_product_quantity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_cart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove_item">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create_order">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add_item">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_stock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieve_order">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieve_cart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clear_cart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PurchaseManagementWS">
<port name="PurchaseManagementWSPort" binding="tns:PurchaseManagementWSPortBinding">
<soap:address location="http://ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com:80/PurchaseManagementWS/PurchaseManagementWS"/>
</port>
</service>
</definitions>