web/WEB-INF/wsdl/localhost_8080/ProcessWS/ProcessWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ProcessWS.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ProcessWS.org/" name="ProcessWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ProcessWS.org/" schemaLocation="http://localhost:8080/ProcessWS/ProcessWS?xsd=1"/>
</xsd:schema>
</types>
<message name="create_order">
<part name="parameters" element="tns:create_order"/>
</message>
<message name="create_orderResponse">
<part name="parameters" element="tns:create_orderResponse"/>
</message>
<message name="create_admin">
<part name="parameters" element="tns:create_admin"/>
</message>
<message name="create_adminResponse">
<part name="parameters" element="tns:create_adminResponse"/>
</message>
<message name="create_member">
<part name="parameters" element="tns:create_member"/>
</message>
<message name="create_memberResponse">
<part name="parameters" element="tns:create_memberResponse"/>
</message>
<message name="reset_password">
<part name="parameters" element="tns:reset_password"/>
</message>
<message name="reset_passwordResponse">
<part name="parameters" element="tns:reset_passwordResponse"/>
</message>
<portType name="ProcessWS">
<operation name="create_order">
<input wsam:Action="http://ProcessWS.org/ProcessWS/create_orderRequest" message="tns:create_order"/>
<output wsam:Action="http://ProcessWS.org/ProcessWS/create_orderResponse" message="tns:create_orderResponse"/>
</operation>
<operation name="create_admin">
<input wsam:Action="http://ProcessWS.org/ProcessWS/create_adminRequest" message="tns:create_admin"/>
<output wsam:Action="http://ProcessWS.org/ProcessWS/create_adminResponse" message="tns:create_adminResponse"/>
</operation>
<operation name="create_member">
<input wsam:Action="http://ProcessWS.org/ProcessWS/create_memberRequest" message="tns:create_member"/>
<output wsam:Action="http://ProcessWS.org/ProcessWS/create_memberResponse" message="tns:create_memberResponse"/>
</operation>
<operation name="reset_password">
<input wsam:Action="http://ProcessWS.org/ProcessWS/reset_passwordRequest" message="tns:reset_password"/>
<output wsam:Action="http://ProcessWS.org/ProcessWS/reset_passwordResponse" message="tns:reset_passwordResponse"/>
</operation>
</portType>
<binding name="ProcessWSPortBinding" type="tns:ProcessWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="create_order">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create_admin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create_member">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reset_password">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProcessWS">
<port name="ProcessWSPort" binding="tns:ProcessWSPortBinding">
<soap:address location="http://localhost:8080/ProcessWS/ProcessWS"/>
</port>
</service>
</definitions>