src/conf/xml-resources/web-service-references/AmazonWS/wsdl/ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com/AmazonWS/AmazonWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://AmazonWS.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://AmazonWS.org/" name="AmazonWS">
<types>
<xsd:schema>
<xsd:import namespace="http://AmazonWS.org/" schemaLocation="http://ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com:80/AmazonWS/AmazonWS?xsd=1"/>
</xsd:schema>
</types>
<message name="logger">
<part name="parameters" element="tns:logger"/>
</message>
<message name="loggerResponse">
<part name="parameters" element="tns:loggerResponse"/>
</message>
<message name="upload_image">
<part name="parameters" element="tns:upload_image"/>
</message>
<message name="upload_imageResponse">
<part name="parameters" element="tns:upload_imageResponse"/>
</message>
<message name="put_log">
<part name="parameters" element="tns:put_log"/>
</message>
<message name="put_logResponse">
<part name="parameters" element="tns:put_logResponse"/>
</message>
<message name="retrieve_config">
<part name="parameters" element="tns:retrieve_config"/>
</message>
<message name="retrieve_configResponse">
<part name="parameters" element="tns:retrieve_configResponse"/>
</message>
<message name="delete_log">
<part name="parameters" element="tns:delete_log"/>
</message>
<message name="delete_logResponse">
<part name="parameters" element="tns:delete_logResponse"/>
</message>
<message name="read_config">
<part name="parameters" element="tns:read_config"/>
</message>
<message name="read_configResponse">
<part name="parameters" element="tns:read_configResponse"/>
</message>
<message name="retrieve_image">
<part name="parameters" element="tns:retrieve_image"/>
</message>
<message name="retrieve_imageResponse">
<part name="parameters" element="tns:retrieve_imageResponse"/>
</message>
<message name="delete_config">
<part name="parameters" element="tns:delete_config"/>
</message>
<message name="delete_configResponse">
<part name="parameters" element="tns:delete_configResponse"/>
</message>
<message name="put_config">
<part name="parameters" element="tns:put_config"/>
</message>
<message name="put_configResponse">
<part name="parameters" element="tns:put_configResponse"/>
</message>
<portType name="AmazonWS">
<operation name="logger">
<input wsam:Action="http://AmazonWS.org/AmazonWS/loggerRequest" message="tns:logger"/>
<output wsam:Action="http://AmazonWS.org/AmazonWS/loggerResponse" message="tns:loggerResponse"/>
</operation>
<operation name="upload_image">
<input wsam:Action="http://AmazonWS.org/AmazonWS/upload_imageRequest" message="tns:upload_image"/>
<output wsam:Action="http://AmazonWS.org/AmazonWS/upload_imageResponse" message="tns:upload_imageResponse"/>
</operation>
<operation name="put_log">
<input wsam:Action="http://AmazonWS.org/AmazonWS/put_logRequest" message="tns:put_log"/>
<output wsam:Action="http://AmazonWS.org/AmazonWS/put_logResponse" message="tns:put_logResponse"/>
</operation>
<operation name="retrieve_config">
<input wsam:Action="http://AmazonWS.org/AmazonWS/retrieve_configRequest" message="tns:retrieve_config"/>
<output wsam:Action="http://AmazonWS.org/AmazonWS/retrieve_configResponse" message="tns:retrieve_configResponse"/>
</operation>
<operation name="delete_log">
<input wsam:Action="http://AmazonWS.org/AmazonWS/delete_logRequest" message="tns:delete_log"/>
<output wsam:Action="http://AmazonWS.org/AmazonWS/delete_logResponse" message="tns:delete_logResponse"/>
</operation>
<operation name="read_config">
<input wsam:Action="http://AmazonWS.org/AmazonWS/read_configRequest" message="tns:read_config"/>
<output wsam:Action="http://AmazonWS.org/AmazonWS/read_configResponse" message="tns:read_configResponse"/>
</operation>
<operation name="retrieve_image">
<input wsam:Action="http://AmazonWS.org/AmazonWS/retrieve_imageRequest" message="tns:retrieve_image"/>
<output wsam:Action="http://AmazonWS.org/AmazonWS/retrieve_imageResponse" message="tns:retrieve_imageResponse"/>
</operation>
<operation name="delete_config">
<input wsam:Action="http://AmazonWS.org/AmazonWS/delete_configRequest" message="tns:delete_config"/>
<output wsam:Action="http://AmazonWS.org/AmazonWS/delete_configResponse" message="tns:delete_configResponse"/>
</operation>
<operation name="put_config">
<input wsam:Action="http://AmazonWS.org/AmazonWS/put_configRequest" message="tns:put_config"/>
<output wsam:Action="http://AmazonWS.org/AmazonWS/put_configResponse" message="tns:put_configResponse"/>
</operation>
</portType>
<binding name="AmazonWSPortBinding" type="tns:AmazonWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="logger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="upload_image">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="put_log">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieve_config">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete_log">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="read_config">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieve_image">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete_config">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="put_config">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AmazonWS">
<port name="AmazonWSPort" binding="tns:AmazonWSPortBinding">
<soap:address location="http://ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com:80/AmazonWS/AmazonWS"/>
</port>
</service>
</definitions>