src/conf/xml-resources/web-service-references/geocode/wsdl/ec2-54-169-213-230.ap-southeast-1.compute.amazonaws.com_80/Geocode_WS/geocode.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://GeoCodeWS.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://GeoCodeWS.org/">

<xs:element name="JSONException" type="tns:JSONException"/>

<xs:element name="MalformedURLException" type="tns:MalformedURLException"/>

<xs:element name="distance" type="tns:distance"/>

<xs:element name="distanceResponse" type="tns:distanceResponse"/>

<xs:element name="getCoordinate" type="tns:getCoordinate"/>

<xs:element name="getCoordinateResponse" type="tns:getCoordinateResponse"/>

<xs:complexType name="getCoordinate">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCoordinateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MalformedURLException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="JSONException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="distance">
<xs:sequence>
<xs:element name="origin" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="distanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>